body{
    background-color: #D5D3CE;
}

h1{
    color : #496373;
}

p{
    color: #2A2C38;
}

#divImg{
     background-color: antiquewhite;
     padding: 10px;
     margin: 50px 50px; 
     border-radius: 20px;
     
}

#divMost{
    background-color: antiquewhite;
    padding: 10px;
    margin: 50px 50px; 
    border-radius: 20px;
    box-shadow: 6px 5px black ;
}


#IconsPoker{
    font-size: 50px; 
    text-align: center;
     
}